JAXBUtility/src/common/SampleSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jaxbOuter">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="valueA"/>
        <xs:element type="xs:string" name="valueB"/>
        <xs:element type="xs:string" name="valueC"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>